body {
	text-align: center;
	background: #5DADE2;
}

#skin {
	width: 700px;
	margin: 10px auto;
	padding: 20px 5px 5px 5px;
	background: #F1C40F;
	border: 2px solid black;
	border-radius: 10px;
}

nav {
	margin: 5px 15px;
}

#buttons {
	float: left;
	width: 60px;
	height: 20px; 
}

#defaultBar {
	position: relative;
	float: left;
	width: 600px;
	height: 20px;
	border: 1px solid black;
	background: #E74C3C;
}

#progressBar {
	position: absolute;
	width: 0px;
	height: 20px;
	background: #8E44AD;
}